* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.mainnav {
    /* border: 2px solid red; */
    background-color: rgb(5, 53, 53);
    padding: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: flex-end; */

}

.navitems {
    list-style: none;
}

.navitems>a {
    /* border: 2px solid blue; */
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

.search {
    display: flex;
    min-width: 250px;
    align-items: center;
}

.stext {
    all: unset;
    background-color: #fff;
    /* border: 4px solid green; */
    border-radius: 15px;
    width: 70%;
    padding: 5px 10px;
    margin: 10px;
}

.sbtn {
    all: unset;
    /* background: #000; */
    background-image: url(../images/search.svg);
    filter: invert(100%);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid white; */
    /* padding: 2px; */
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.lbtn {
    padding: 8px 15px;
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
}


.item {
    /* border: 2px solid red; */
    /* min-width: 220px; */
    background-color: #fff;
    margin: 10px;
    /* height: 300px; */
}

.foods {
    padding: 10px 10%;
    background-color: #f1f1f1;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.atcbutton {
    background-color: #fff;
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.atcbutton:hover {
    color: rgb(103, 103, 104);

}

.itmname,
.itemprice {
    /* border-bottom: 1px solid black; */
    width: 100%;
    margin: 2px;
    padding: 5px 10px;
}

img {
    height: 300px;
    width: 100%;
}

.right {
    /* border: 2px solid pink; */
    /* width: 280px; */
    margin-left: auto;
}

.right>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.withlogo>ul {
    display: flex;
    box-sizing: border-box;
}

.withlogo {
    /* border: 2px solid pink; */
    height: 30px;
    display: block;
    margin-right: auto;
    width: 150px;
}

@media only screen and (max-width:530px) {
    .withlogo {
        position: absolute;
    }

    .right {
        width: 280px;
    }

    .mainnav {
        align-items: unset;
    }
}
@media only screen and (max-width:660px) {
    .foods{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 5%;
    }
    
}

.lm{
    text-align: center;
}